$color-1: #272727;
$color-2: #f1f1f1;
$line1-size: 3px;
:root {
    --color-1: #272727;
    --color-2: #f1f1f1;
}

//reset margin and padding
* {
    margin: 0;
    padding: 0;
    color: var(--color-2);
}

body {
    height: 100vh;
    width: 100vw;
    //overflow: scroll;
    background-color: var(--color-1);
    display: flex;
    align-items: center; //When display is flex and direction is column this centers horizontally
    justify-content: space-between; //When display is flex and direction is column this centers vertically
    flex-direction: column;
}

header {
    display: inline;
}

.game-grid {
    //Note do not add justify content or align items as this will break tic tac toe outlines
    //Instead add it to every child element to center content inside them
    padding: 0; //changing this will display grid outline
    width: 60vmin; //sets to 80 mininmum view eg if width is smaller its 80 width
    aspect-ratio: 1;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1/4;
    grid-column: 1/4;
    overflow: hidden; //Important goes with outline in child element to create the tic tac toe grid
    .grid__box {
        outline: 2px solid var(--color-2);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
    }
}

.buttons {
    width: 45vmin;
    height: 5%;
    display: grid;
    justify-items: stretch;
    .buttons__item {
        margin: 2%;
        transition-duration: 200ms;
        &--1 {
            background-color: var(--color-1);
            border: 3px solid var(--color-2);
            color: var(--color-2);
        }
        &--2 {
            background-color: var(--color-2);
            border: 3px solid var(--color-2);
            color: var(--color-1);
        }
        &--1:active {
            background-color: var(--color-2);
            border: 3px solid var(--color-2);
            color: var(--color-1);
        }
        &--2:active {
            background-color: var(--color-1);
            border: 3px solid var(--color-2);
            color: var(--color-2);
        }
    }
}